{% extends "base.html" %} {% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Groups</h1>
    <p class="mb-4">Send mail to groups.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Group Name</th>
                            <th>Start date</th>
                            <th>Delete</th>
                            <th>Send Mail</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Group Name</th>
                            <th>Start date</th>
                            <th>delete</th>
                            <th>Send Mail</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>
                                <a style="text-decoration: none;" href="group_members.html">group-1</a></td>
                            <td>2011/04/25</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                                        <i class="fas fa-trash"></i>
                                                    </span>
                                    <span class="text">Delete</span>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                                        <i class="fas fa-paper-plane"></i>
                                                    </span>
                                    <span class="text">Send Mail</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}