{% extends "base.html" %} {% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Templates</h1>
    </div>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">
    Add Template
    </button>
    

    <!-- Modal -->
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Template</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <form action="">
                    <input class="form-control" type="text" placeholder="link..">
                    <label for="exampleFormControlTextarea1">Replace with summernote below</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Replace with summernote"></textarea>
                    <br>
                    <center>
                        <button class="btn btn-primary rounded-pill" type="submit">Submit</button>
                    </center>
                </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger px-2" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    <div class="container" style="height: 10px;width: 100vw;"></div>
        <!-- Content Row -->
    <div class="row">

        <!-- Number of Groups Card -->
        <div class="col-xl-4 col-md-6 mb-4" >
            <div class="card border-bottom-primary shadow h-100 py-2" style="width: 85%;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="text-align: center;">
                                Transactional Template</div>
                            <img class="img-fluid" style="width: 100%;border-radius: 20px;" src="/static/img/test.png" alt="">
                            <br>
                            <div class="container py-2 mx-auto" style="align-items: center;">
                                <center>
                                    <form action="">
                                        <button type="button" class="btn btn-primary rounded-pill" style="align-self: center;">
                                            Use this template
                                        </button>
                                    </form>
                                </center>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of Groups Card -->
        <div class="col-xl-4 col-md-6 mb-4" >
            <div class="card border-bottom-primary shadow h-100 py-2" style="width: 85%;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="text-align: center;">
                                Transactional Template</div>
                            <img class="img-fluid" style="width: 100%;border-radius: 20px;" src="/static/img/test.png" alt="">
                            <br>
                            <div class="container py-2 mx-auto" style="align-items: center;">
                                <center>
                                    <form action="">
                                        <button type="button" class="btn btn-primary rounded-pill" style="align-self: center;">
                                            Use this template
                                        </button>
                                    </form>
                                </center>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of Groups Card -->
        <div class="col-xl-4 col-md-6 mb-4" >
            <div class="card border-bottom-primary shadow h-100 py-2" style="width: 85%;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="text-align: center;">
                                Transactional Template</div>
                            <img class="img-fluid" style="width: 100%;border-radius: 20px;" src="/static/img/test.png" alt="">
                            <br>
                            <div class="container py-2 mx-auto" style="align-items: center;">
                                <center>
                                    <form action="">
                                        <button type="button" class="btn btn-primary rounded-pill" style="align-self: center;">
                                            Use this template
                                        </button>
                                    </form>
                                </center>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of Groups Card -->
        <div class="col-xl-4 col-md-6 mb-4" >
            <div class="card border-bottom-primary shadow h-100 py-2" style="width: 85%;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="text-align: center;">
                                Transactional Template</div>
                            <img class="img-fluid" style="width: 100%;border-radius: 20px;" src="/static/img/test.png" alt="">
                            <br>
                            <div class="container py-2 mx-auto" style="align-items: center;">
                                <center>
                                    <form action="">
                                        <button type="button" class="btn btn-primary rounded-pill" style="align-self: center;">
                                            Use this template
                                        </button>
                                    </form>
                                </center>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of Groups Card -->
        <div class="col-xl-4 col-md-6 mb-4" >
            <div class="card border-bottom-primary shadow h-100 py-2" style="width: 85%;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="text-align: center;">
                                Transactional Template</div>
                            <img class="img-fluid" style="width: 100%;border-radius: 20px;" src="/static/img/test.png" alt="">
                            <br>
                            <div class="container py-2 mx-auto" style="align-items: center;">
                                <center>
                                <form action="">
                                    <button type="button" class="btn btn-primary rounded-pill" style="align-self: center;">
                                        Use this template
                                    </button>
                                </form>
                                </center>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of Groups Card -->
        <div class="col-xl-4 col-md-6 mb-4" >
            <div class="card border-bottom-primary shadow h-100 py-2" style="width: 85%;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="text-align: center;">
                                Transactional Template</div>
                            <img class="img-fluid" style="width: 100%;border-radius: 20px;" src="/static/img/test.png" alt="">
                            <br>
                            <div class="container py-2 mx-auto" style="align-items: center;">
                                <center>
                                    <form action="">
                                        <button type="button" class="btn btn-primary rounded-pill" style="align-self: center;">
                                            Use this template
                                        </button>
                                    </form>
                                </center>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Content Row -->
    
</div>
<!-- /.container-fluid -->
{% endblock %}