{% extends "base.html" %} {% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Templates</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Number of Groups Card -->
        <div class="col-xl-4 col-md-6 mb-4" >
            <div class="card border-bottom-primary shadow h-100 py-2" style="width: 85%;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="text-align: center;">
                                Transactional Template</div>
                            <img class="img-fluid" style="width: 100%;border-radius: 20px;" src="/static/img/test.png" alt="">
                            <br>
                            <div class="container py-2 mx-auto" style="align-items: center;">
                                <center>
                                    <form action="">
                                        <button type="button" class="btn btn-primary rounded-pill" style="align-self: center;">
                                            Use this template
                                        </button>
                                    </form>
                                </center>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of Groups Card -->
        <div class="col-xl-4 col-md-6 mb-4" >
            <div class="card border-bottom-primary shadow h-100 py-2" style="width: 85%;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="text-align: center;">
                                Transactional Template</div>
                            <img class="img-fluid" style="width: 100%;border-radius: 20px;" src="/static/img/test.png" alt="">
                            <br>
                            <div class="container py-2 mx-auto" style="align-items: center;">
                                <center>
                                    <form action="">
                                        <button type="button" class="btn btn-primary rounded-pill" style="align-self: center;">
                                            Use this template
                                        </button>
                                    </form>
                                </center>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of Groups Card -->
        <div class="col-xl-4 col-md-6 mb-4" >
            <div class="card border-bottom-primary shadow h-100 py-2" style="width: 85%;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="text-align: center;">
                                Transactional Template</div>
                            <img class="img-fluid" style="width: 100%;border-radius: 20px;" src="/static/img/test.png" alt="">
                            <br>
                            <div class="container py-2 mx-auto" style="align-items: center;">
                                <center>
                                    <form action="">
                                        <button type="button" class="btn btn-primary rounded-pill" style="align-self: center;">
                                            Use this template
                                        </button>
                                    </form>
                                </center>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of Groups Card -->
        <div class="col-xl-4 col-md-6 mb-4" >
            <div class="card border-bottom-primary shadow h-100 py-2" style="width: 85%;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="text-align: center;">
                                Transactional Template</div>
                            <img class="img-fluid" style="width: 100%;border-radius: 20px;" src="/static/img/test.png" alt="">
                            <br>
                            <div class="container py-2 mx-auto" style="align-items: center;">
                                <center>
                                    <form action="">
                                        <button type="button" class="btn btn-primary rounded-pill" style="align-self: center;">
                                            Use this template
                                        </button>
                                    </form>
                                </center>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of Groups Card -->
        <div class="col-xl-4 col-md-6 mb-4" >
            <div class="card border-bottom-primary shadow h-100 py-2" style="width: 85%;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="text-align: center;">
                                Transactional Template</div>
                            <img class="img-fluid" style="width: 100%;border-radius: 20px;" src="/static/img/test.png" alt="">
                            <br>
                            <div class="container py-2 mx-auto" style="align-items: center;">
                                <center>
                                <form action="">
                                    <button type="button" class="btn btn-primary rounded-pill" style="align-self: center;">
                                        Use this template
                                    </button>
                                </form>
                                </center>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of Groups Card -->
        <div class="col-xl-4 col-md-6 mb-4" >
            <div class="card border-bottom-primary shadow h-100 py-2" style="width: 85%;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="text-align: center;">
                                Transactional Template</div>
                            <img class="img-fluid" style="width: 100%;border-radius: 20px;" src="/static/img/test.png" alt="">
                            <br>
                            <div class="container py-2 mx-auto" style="align-items: center;">
                                <center>
                                    <form action="">
                                        <button type="button" class="btn btn-primary rounded-pill" style="align-self: center;">
                                            Use this template
                                        </button>
                                    </form>
                                </center>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Content Row -->
    
</div>
<!-- /.container-fluid -->
{% endblock %}